.BtcBox-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: skyblue;
    width: 45rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BtcBox-button {
    border: 3px solid black;
    background-color: chartreuse;
    appearance: none;
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 5px;
}

.BtcBox-titleTime {
    text-align: center;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}